<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="login-container">
        <div class="solar-icon">☀️</div>
        <h2 class="text-center">Welcome Back!</h2>
        <p class="text-center">Log in to Solaris</p>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username/Email</label>
                <input type="text" name="username" id="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>
            <div class="d-grid ">
                <button type="submit" class="btn">Login</button>
            </div>
        </form>
        <p class="text-center mt-3">
            Don't have an account? <a href="register" style="text-decoration: none;">Sign up</a>
            </p> 
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> 
</body>
</html>
